body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 20px;
}
textarea {
    height: 300px;
    margin: 10px;
    font-family: monospace;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 48%;
}
.column textarea {
    width: 100%;
}
.column button {
    margin: 2px 25%;
}